<div>
  <form>
      <br>
      <label>User Name</label>
      <input type="text" id="txtUsername" placeholder="User Name">
      <br>
      <label>Password</label>
      <input type="text" id="txtPassword" placeholder="Password">
      <br>
      <button type="button" id="btnSave" class="btn btn-md btn-success">Login</button>
      <button type="reset" id="btnRes" class="btn btn-md btn-danger">Clear Form</button>
      
  </form>

  <hr>


  <label>Forget User Name? Enter your email:</label>
  <input type="text" id="txtForgetUsername"/>
  <button id="btnForgerUsername" class="btn btn-sm btn-danger">Reset</button>
  <br>
  <label>Forget Password? Enter your username:</label>
  <input type="text" id="txtForgetPassword"/>
  <button id="btnForgetPassword" class="btn btn-sm btn-danger">Reset</button>

</div>


